body{
    background-color: #FFFFFF;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

.diferenciales{
    background: #FFFFFF;
}

h2{
    text-align: center;
}

.items{
    font-style: italic;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgDiferencial{
    width: 50%;

}